.text-statistic {
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
  font-weight: 800;
}
.text-title {
  font-size: 40px;
  font-family: 'Acme', sans-serif;
  font-weight: 600;
  font-style: italic;
}
