.service-card {
  border-radius: 17px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.service-card-title {
  font-family: 'Montserrat', cursive;
  font-size: 24px;
  font-weight: 600;
  width: 70%;
  text-align: center;
}
.service-card-description {
  font-family: 'Montserrat', cursive;
  font-size: 16px;
  width: 80%;
  text-align: center;
  color: rgb(100 116 139);
}
